/* #404040
#6DBDD6
#B71427
#FFE658 */

#header {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #444444;
}
.white-theme #header{
  background-color: antiquewhite;
}

#user-icon img {
  width: 50px;
  height: 50px;
  padding: 5px 0 0 5px;
  float: left;
}

#user-icon,
#title {
  height: 50px;
  float: left;
}

#title {
  float: right;
  font-size: 30px;
  line-height: 80px;
  margin-right:10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding-top: 20px;
  width:98%;
}

/*
.carousel-inner{
}*/

.item {
  height: auto;
  min-height: 500px;
}

.wrapper {
  width: 100%;
  min-height: 500px;
  height:auto;
  height: auto;
  column-count: 0;
  column-gap: 50px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left:0;
  text-align:center;
}

p {
  line-height: 1.6;
  font-family: Helvetica;
  text-align: justify;
  margin: 0;
  font-size: 14px;
}

.star {
  float: left;
  width: 250px;
  shape-outside: url(../assets/Red_star.svg);
  shape-margin: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.star.right {
  margin-left: 20px;
  float: right;
}

.moon.left {
  float: left;
  margin-right: 20px;
}

.moon {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-image: url(../assets/time_work_2.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-color: #2badd9;
  float: right;
  shape-outside: inset(1% round 50%);
  margin-left: 20px;
  margin-bottom: 10px;
}

.square.left {
  float: left;
  margin-right: 20px;
}

.square {
  background-image: url(../assets/time_work_1.jpg);
  border-radius: 5%;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-color: #40e2ac;
  float: right;
  shape-outside: inset(1% round 5%);
  margin-left: 20px;
  margin-bottom: 10px;
}

.dropdown-menu{
  margin-top:50px;
}

.time-graph{
    background-image: url(../assets/time-graph-1.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    padding: 5px 0px 0 5px;
    float: left;
    margin-top: 26px;
    margin-right: 6px;
}

@media only screen and (max-width: 500px) {
  .square,.moon,.star {
    float:unset;
    margin: auto;
    padding:0;
    width:100px;
    height:100px;
    background-size: cover;
    margin-bottom: 25px;
  }
  .moon{
    border-radius: 100px;
  }
  .container{
    width:98%;
  }
  .wrapper{
    padding:0;
    margin:auto;
    width:100%;
  }
  p {
    text-align: center;
  }
  
}