.custom-modal{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}
.error-message{
  font-size: 18px;
}

.modal-body{
  text-align: center;
}

.modal-title{
  color: red;
  font-weight: bold;
}

.close{
  background-color: red;
  color: white;
  opacity:1;
  border-radius: 45%;
}
