
<div id="mySidenav" class="sidenav">
    <div class="sidebar-header">
        <div class="title">
            <h3>Time Tracker</h3>
        </div>
        <a class="closebtn" (click)="toggleNav()">&times;</a>
    </div>
    <!-- Sidebar Header -->
    <div class="side-menu">
    <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a>Dashboard</a></li>
            <li><a>About</a></li>
            <li><!-- Link with dropdown items -->
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </li>
            <li><a>Portfolio</a></li>
            <li><a>Contact</a></li>
        </ul>
    <button class="btn btn-success">Add New Item</button>
    <button class="btn btn-info">Update items</button>
    </div>
</div>

<span class="side-menu-toggle" (click)="toggleNav()">&#9776;</span>
<div class="home-header"></div>
