<div class="page-title">
    <span routerLink="" routerLinkActive="active" >Time Tracker</span>
</div>
<div class="container">
    <div class="row">
        <div class="  col-sm-12 register-title">
            <div class="register-icon">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <input type="text" class="form-control" id="frstName" placeholder="First Name">
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <input type="text" class="form-control" id="lstName" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="  col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input type="password" class="form-control" id="cnfrmPwd" placeholder="Confirm Password">
            </div>
        </div>
    </div>
    <div class="row register-buttons">
        <div class="col-sm-9">
                <a routerLink="/login" routerLinkActive="active"  class="orange">Already have an account? Login Here!</a>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-success">Register</button>
        </div>
    </div>
</div>